https://www.facebook.com/sharer/sharer.php?u={{page.url | absolute_url | url_encode}}

https://twitter.com/home?status={{page.url | absolute_url | url_encode}}

https://plus.google.com/share?url={{page.url | absolute_url | url_encode}}

https://www.linkedin.com/shareArticle?mini=true&url={{page.url | absolute_url | url_encode}}&title={{page.title | url_encode}}&summary=&source=

mailto:?&subject={{page.title | url_encode}}&body={{page.url | absolute_url | url_encode}}

http://www.reddit.com/submit?url={{page.url | absolute_url | url_encode}}&title={{page.title | url_encode}}
