<!DOCTYPE html>
<html ng-app="wifi">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sous Vide Control</title>
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>	
	<script> window.jQuery || document.write('<script src="jquery-3.2.1.min.js">\x3C/script>') </script>
	<script> window.angular || document.write('<script src="angular.min.js">\x3C/script>') </script> -->
	<script src="jquery-3.2.1.min.js"></script>
	<script src="angular.min.js"></script>
	<script type="text/javascript">
		setTimeout(function(){
			if(!window.jQuery || !window.angular) location.reload();
		},10000);
	</script>
	<script>
		var wifi = angular.module('wifi', []);
		wifi.controller('mainController', function ($scope, $http, $window) {

			$scope.setSel = function (n) {
			$scope.sel = n;
			};

			$scope.connect = function (n) {
				if(!n.encrypted && !$window.confirm("Unsecure network. Are you sure?")) return;
				$http.post('/wifi/connect', $.param(n));
			}

			$scope.wps = function () {
				if ($window.confirm("Start WPS Setup?")) $http.get('/wifi/wps');
			}

			$http.get('/wf').then(function (res) {
				console.log(res.data);
				$scope.data=[];
				res.data.split("\n").forEach(function(e){
					var t=e.split(":");
					if(e.length) $scope.data.push({s:t.shift(),e:t.shift(),n:t.join(":")});
				});
				console.log($scope.data);
				//$scope.data = res.data;
				//$scope.data.push({man:true});
			});
		}); //wifi

	</script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="mainController">
	WiFi Status:
	<br>
	<span class="smalltext">{{status.connected?("Connected to "+status.connected):"Not connected"}}</span>
	<br>
	<span class="smalltext">Changing WiFi settings will reboot the device. </span>
	<br> Available networks:
	<br>
	<div ng-repeat="nw in data" class="rbutton" ng-click="setSel(nw)" style="{{sel==nw?('background-color:orange'):''}}">
		{{nw.man?"Manual":nw.n}} <span style="float:right">{{nw.s}}%</span>
		<span ng-if="nw.man">
			<input type="text" placeholder="ssid" ng-model="nw.n" ng-if="nw.man"/>
			<br>
			<label class="smalltext">Encrypted?
					<input type="checkbox" ng-model="nw.e" />
			</label>
		</span>
		<span ng-if="sel==nw && nw.e">
			<br>
			<input placeholder="password" ng-model="nw.p" type="password" />
		</span>
		<span ng-if="sel==nw && nw.n.length && (!nw.e || nw.p.length)">
			<br>
			<button ng-click="connect(nw)">Connect</button>
		</span> 
		

		<!-- {{(nw.n==null)?"Manual...":nw.n}}
			<br>
			<input type="text" placeholder="ssid" ng-model="nw.n" />
			<br>
			<label class="smalltext">Encrypted?
				<input type="checkbox" ng-model="nw.e" />
			</label>
		<span ng-if="nw.n!=null">
			<br> {{((nw.encrypted) ? "\uD83D\uDD12 " : "\u26a0 ") + "\uD83D\uDCF6=" + nw.signal}} {{nw.ssid==status.connected?"Connected.":""}}
		</span>
		<span ng-if="sel==nw && nw.e">
			<br>
			<input placeholder="password" ng-model="nw.p" type="password" />
		</span>
		<span ng-if="sel==nw && nw.ssid.length && (!nw.encrypted || nw.pw.length)">
			<br>
			<button ng-click="connect(nw)">Connect</button>
		</span> -->
	</div>
	<div class="rbutton" ng-click="wps()">WPS Setup...</div>
	<br>
	<br>
	<ng-include src="'nav.htm'"></ng-include>

</body>
</html>