<!DOCTYPE html>
<html ng-app="wifi">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sous Vide Control</title>
	<link rel="manifest" href="/manifest.json">
	<script src="jquery-3.2.1.min.js"></script>
	<script src="angular.min.js"></script>
	<script>
		var wifi = angular.module('wifi', []);
		wifi.controller('mainController', function ($scope, $http, $interval) {
			$scope.setSel = function(n){$scope.sel = n;};

			$scope.getNetworks = function(n){
				console.log("getting "+n);
				$http.get('/wifi/api?n='+n).then(function(res){
					console.log("got:");
					console.log(res.data);
					$scope.networks.push(res.data);
					if(res.data.n < $scope.status.networks-1){
						$scope.getNetworks(res.data.n+1);
					}
				});
			}

			$http.get('/wifi/api').then(function(res){
				console.log(res.data);
				$scope.networks = [];
				if(res.data.networks) $scope.getNetworks(0);
				$scope.status = res.data;
			});


		}); //wifi

	</script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="mainController">
{{status.connected?("Connected to: "+status.connected):"Not connected"}}

<div ng-repeat="nw in networks" class="rbutton" ng-click="setSel(nw)" style="{{sel==nw?('background-color:orange'):''}}">{{nw.ssid}}
	<br> {{((nw.encrypted) ? "\uD83D\uDD12 " : "\u26a0 ") + "\uD83D\uDCF6=" + nw.signal}}
	<span ng-if="sel==nw && nw.encrypted"><br><input placeholder="password" ng-model="nw.pw" type="password" /></span>
	<span ng-if="sel==nw && (!nw.encrypted || nw.pw.length)"><br><button>Connect</button></span>
</div>
<div class="rbutton" ng-click="setSel(manual)" style="{{sel==manual?('background-color:orange'):''}}">
	Manual
</div>


</body>

</html>